<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>

<h1 style="text-align: center;color: white;background:black;">Student Portal</h1>

<a href="/student/new">Add a student</a> <br>

<a href="/student/list">Student list</a> <br>


<form action="/student/update" method="GET">
    Update student with id <input type="text" name="id">
    <input type="submit" value="Search">
</form>

<br>
<form action="/student/delete" method="GET">
    Delete student with id <input type="text" name="id">
    <input type="submit" value="Delete">
</form>

<br>
<form action="/student/name" method="GET">
    Enter Name<input type="text" name="name">
    <input type="submit" value="Find Student">
</form>

<br>
<form action="/student/surname" method="GET">
    Enter Surname<input type="text" name="surname">
    <input type="submit" value="Find Student">
</form>



</body>
</html>